/dist/
**/_dist/
**/node_modules/
**/.turbo

*.tar.zst
*.tar.xz
*.zip
*.dmg

.idea/

target/

logs/
.serena/
vendor/

# Hotfix source files (except .gitkeep)
hotfixes/source/*
!hotfixes/source/patches/
hotfixes/source/patches/*
!hotfixes/source/patches/.gitkeep
